<h3>Sing up Admin</h3>
<form action="/admin/register" method="POST">

  <label for="username"><b>Username</b></label>
  <input  id="username" type="text" placeholder="Enter Username" name="username">

  <label for="password"><b>Password</b></label>
  <input id="password" type="password" placeholder="Enter Password" name="password">

    <label for="repeat_password"><b>Password</b></label>
    <input id="repeat_password" type="password" placeholder="Repeat password" name="repeat_password">



    <div style="display: flex; align-items: center">
        <input type="submit" value="Sing up" class="btn">
        <a href="/admin"  style="margin-left: 15px">Sing in</a>
    </div>

</form>

