<h3>Sing in</h3>

<form action="/login" method="POST">

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password">
    <div style="display: flex; align-items: center">
        <input type="submit" value="Sing in" class="btn">
        <a href="/register"  style="margin-left: 15px">Sing up</a>
    </div>
</form>

